// src/css/quasar.variables.scss

$primary: var(--primary);
$secondary: var(--secondary);
$accent: white;

$dark: #969eaf;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
