.custom-field {
  margin-left: 10px;
  margin-right: 10px;
}

.disabled-field {
  border-color: gray;
}

.custom-header {
  font-size: 20px;
  font-weight: bolder;
}

.custom-label {
  font-size: 12px;
  margin-left: 10px;
}

.acordion-style {
  padding: 1rem;
  margin-bottom: 10px;
}

.custom-row {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.disabled-button {
  color: gray !important;
}

.dark-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Oscuro con 70% de opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Asegúrate de que esté por encima de otros elementos en la página */
}
